<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Real-time TodoMVC with Bun + Hono and Datastar</title>
		<link rel="stylesheet" href="./modern-normalize.css">
		<link rel="stylesheet" href="./layout2.css">
	</head>
	<body>
		<header>
			<h1>todos</h1>
		</header>
		<main>
			<form class="todo-input" action="/todos/toggleAll" method="post">
				<button type="submit" class="toggleAll">❯</button>
				<input type="text" placeholder="What needs to be done?" autofocus>
			</form>
			<article class="todo-item">
				<form action="/todos/:id/toggle" method="post" class="todo-toggle">
					<input
						type="checkbox"
						id="toggle-{id}"
						hidden
						aria-hidden="true"
						name="completed"
					>
					<button type="submit"></button>
					<span>Create a TodoMVC template</span>
				</form>
				<form action="/todos/:id/edit" method="post" class="todo-edit">
					<button type="submit">✎</button>
				</form>
				<form action="/todos/:id/delete" method="post" class="todo-delete">
					<button type="submit">ⓧ</button>
				</form>
			</article>
			<section class="todo-actions-bar">
				<span class="count">1 item left!</span>
				<div class="filters">
					<a href="/todos" class="selected">All</a>
					<a href="/todos?filter=active">Active</a>
					<a href="/todos?filter=completed">Completed</a>
				</div>
				<form action="/todos/clear" method="post">
					<button type="submit">Clear completed</button>
				</form>
			</section>
		</main>
		<footer>
			<p>Open the page in multiple tabs and see what happens!</p>
			<p>
				Made with ❤️ and
				<a href="https://www.data-star.dev">Datastar</a>
				by Khalid Jebbari
			</p>
		</footer>
	</body>
</html>
