:root {
	--main-color: #b83f45;
	--border-color: lightgray;
	--main-padding: 1rem;
	--todo-padding: 0.5rem;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	background-color: #f5f5f5;
}

header {
	font-size: 2rem;
	font-weight: normal;
	text-align: center;
	color: var(--main-color);
}

main {
	background-color: #fff;
	border: 1px solid var(--border-color);
	box-shadow:
		var(--border-color) 2px 0 2px,
		var(--border-color) 0 2px 2px,
		var(--border-color) 0 -2px 2px,
		var(--border-color) -2px 0 2px;
}

form.todo-input {
	border-bottom: 1px solid var(--border-color);

	label[for="toggleAll"] {
		position: relative;
		&::before {
			position: absolute;
			content: "❯";
			rotate: 90deg;
			left: 2rem;
			bottom: 0;
			top: 0;
			font-size: 2rem;
			color: hsl(from var(--border-color) h s calc(l - 20));
		}
	}

	#toggleAll {
		opacity: 0;
		position: absolute;
		left: -9999px;
	}

	input[type="text"] {
		width: 100%;
		border: 0;
		font-size: 1.5rem;
		padding: var(--main-padding) var(--main-padding) var(--main-padding) 4rem;

		&:focus {
			outline: 0;
			box-shadow: 0 0 2px 2px var(--main-color);
		}

		&::placeholder {
			font-style: italic;
			color: hsl(from var(--border-color) h s calc(l - 10));
		}
	}
}

.todo-item {
	padding: var(--main-padding);
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	gap: var(--todo-padding);

	.todo-toggle {
		display: grid;
		align-items: center;
		grid-template-columns: auto 1fr;
		gap: var(--todo-padding);

		button {
			position: relative;
			border: 1px solid #888;
			border-radius: 1rem;
			cursor: pointer;
			background-color: #fefefe;
			width: 1rem;
			height: 1rem;
		}

		input[type="checkbox"]:checked + button {
			border-color: var(--main-color);
		}

		input[type="checkbox"]:checked + button::after {
			content: "✓";
			color: var(--main-color);
			position: absolute;
			top: 0;
			left: 20%;
		}
	}

	&:hover :is(.todo-delete, .todo-edit) {
		opacity: 1;
	}

	.todo-edit,
	.todo-delete {
		opacity: 0;
		transition: opacity 0.1s ease-in-out;
	}
}
